<!-- JumboTron Content -->
<div class="jumbotron">
  <h1>The Intramuros Hub: The Ultimate Innovation Revamp</h1>
  <p>This month, we are looking into build a big and better innovation hub - the first of its kind in Intramuros where different startups, investors, accelerators, policymakers and ecosystem supporters can gather together to make things happen. </p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div> 
<!-- JumboTron Content --> 


<!-- Media Heading Content -->
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="..." alt="...">
  </a>
  <div class="media-body">
    <h4 class="media-heading"> Ideaspace Headlines </h4>
    Let's talk about what's happening this week.
  </div>
</div>

<ul class="list-group">
  <li class="list-group-item">What's Up</li>
  <li class="list-group-item">Innovation Hub Launch</li>
  <li class="list-group-item">Portia is Entering Cambridge</li>
  <li class="list-group-item">Kat and Bev | Organizers of WorldStartup</li>
  <li class="list-group-item">Acceleration begins this 28th of June</li>
</ul>
<!-- Media Heading Content -->

<!--Linked Item Content -->
<div class="list-group">
  <a href="#" class="list-group-item active">
    Startup Events
  </a>
  <a href="#" class="list-group-item">Startup Grind</a>
  <a href="#" class="list-group-item">Pitch Lecture Series</a>
  <a href="#" class="list-group-item">Intern's Entrepreneurship Workshop</a>
  <a href="#" class="list-group-item">ImpactHub Office Tour</a>
</div>
<!--Linked Item Content -->




<!-- Thumbnail content -->
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Founder of the Month</h3>
        <p>Au Soriano</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
<!-- Thumbnail content -->

<!-- Alert Class -->
	<div class="alert alert-success">Did you know that 40% of the founders are female? </div>
	<div class="alert alert-info">Among these founders, 10 are billionaires.</div>
	<div class="alert alert-warning">One of which did it before turning 21. </div>
	<div class="alert alert-danger">She is Elizabeth Netwon. </div>
<!-- Alert Class -->
